apiVersion: apps/v1
kind: Deployment
metadata:
  name: emk-backend
  namespace: backend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: emk-backend
  template:
    metadata:
      labels:
        app: emk-backend
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:18
          command:
            - sh
            - -c
            - |
              until pg_isready -h postgres -p 5432 -U "$SPRING_DATASOURCE_USERNAME"; do
                echo "Waiting for PostgreSQL to be ready..."
                sleep 2
              done
              echo "PostgreSQL is ready!"
          envFrom:
            - secretRef:
                name: backend-secrets
      containers:
        - name: backend
          image: dockerhub_user/emk-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/emk_project
          envFrom:
            - secretRef:
                name: backend-secrets
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10