spring:
  application:
    name: EMK-CRM_Project_backend

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 60000

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true

  jpa:
    defer-datasource-initialization: false
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        connection:
          provider_disables_autocommit: false
        jdbc:
          time_zone: UTC

  mail:
    host: smtp.mail.ru
    port: 465
    username: assistantpro.service@mail.ru
    password: S7gfSwhJXYC79jqEWVHs
    protocol: smtps
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

security:
  jwt:
    token:
      secret-key: vuekhbfkfdjhvsbavdkjfhdbavhfkjbvgtdfhjghdxdnljfdhbafjkabvfshjdc
      expire-length: 3600000 # 1 hour

logging:
  level:
    org.springframework.boot.autoconfigure: DEBUG
    org.springframework.jdbc: DEBUG
    org.hibernate: INFO
    com.zaxxer.hikari: DEBUG
    org.flywaydb: DEBUG
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

external-api:
  kontur:
    api-key-header: X-Kontur-Apikey
    api-key: 8759e5bf-ecbc-1a25-381d-6b94fecc09e5
    get-tender-info-url: https://api-zakupki.kontur.ru/external/v1/purchases/
    find-tenders-url: https://api-zakupki.kontur.ru/external/v1/search?

email:
  domain: gmail.com
  activation-link: http://localhost:8080/api/activate?token=
  host-email: assistantpro.service@mail.ru

activation:
  key: egdfvhfbnqergjgkwoerigjsnfsoflkvnslfg # must be >32 chars
  expiration-ms: 8640000   # 360000 * 24

pagination:
  items-on-page: 50

schedule:
  time: "0 53 8 * * ?"

format:
  date-time: "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"